export LIBRARY_PATH
LIBRARY_PATH=$(nix build nixpkgs#readline.out --print-out-paths --no-link)/lib

export C_INCLUDE_PATH
C_INCLUDE_PATH=$(nix build nixpkgs#readline.dev --print-out-paths --no-link)/include

use nix -p python3
